<div class="container-fluid">
    <ng-progress></ng-progress>
    <h1 class="header">Github Search</h1>
    <form action="">
      <div class="form-group">
        <app-search-form></app-search-form>
      </div>
      <!-- <div id="user">
        <ul *ngIf="user">
        <li>Github username is {{user.name}}</li> 
        <li>Account created on {{user.created_on | date}}</li>
      </ul>
      </div> -->
    </form>
     <div class="row">
      <div class="col-sm-6" id="user-details">
       <img class="w-75" src={{user.avatar_url}}  alt="">
       <p id="user-name">Github username is {{user.name}}</p> 
       <p id="bio"> {{user.bio}} </p>
       <p *ngIf="user.email">Email Address: <a href="{{user.email}}" target="_blank"></a></p>
      </div>
      <div class="col-sm-6" id="acc-det">
        <p>
          <span class="badge badge-info mr-2" id="labels">{{user.followers}} Followers</span>
          <span class="badge badge-warning mr-2" id="labels">{{user.following}} Following</span>
          <span class="badge badge-danger" id="labels">{{user.repos}} Repositories</span>
        </p>
        <div *ngFor="let repo of repos ; let i = index" class="card mb-3">
          <div class="card-body">
            <p class=repo-name>
              <span class="work"> {{repo.name}} </span>
            </p>
            <p class="description">{{repo.description}}</p>
            <p class="creation-date"><b class="dates">Date created: {{repo.created_on|date}}</b></p>
            <p class="update-date"><b class="dates">Updated on: {{repo.updated_on|date}}</b></p>
            <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-warning pull-right buttons mr-3">View this project on Github <span class="glyphicon glyphicon-share-alt"></span></a>
              <a href="{{repo.homepage}}" target="_blank" *ngIf="repo.homepage" class="btn btn-sm btn-success pull-right buttons">View Deployed Page<span class="glyphicon glyphicon-share-alt"></span></a>
          </div> 
        </div>
      </div>
      </div>
</div>
       