<div class="container-fluid">
  <div id="form">
    <h2>Search GitHub User</h2>
    <form (ngSubmit)="submitUser(name)" #userForm="ngForm">
      <div class="form-group">
        <input type="text" [(ngModel)]="newSearch.name" class="form-control" name="name" #name="ngModel" placeholder="Github username">
      </div>
      <button class="btn btn-info btn-sm" type="submit"> Search </button>
      <div id="user">
          <ul *ngIf="user">
          <li>Github username is {{user.name}}</li> 
          <li>Account created on {{user.created_on | date}}</li>
        </ul>
        </div>
    </form>
  </div>
 
